<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>XAI</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <style>
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .result_image {
            max-width: 100%;
            height: auto;
        }
    </style>

</head>

<script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">XAI</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">What is XAI? <span
                        class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/vision">Vision<span
                        class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/nlp">NLP<span
                        class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/machinelearning">MachineLearning<span
                        class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<div id="navbar">

</div>
<main role="main" class="container text-center" style="padding-top: 80px;">

    <div class="btn-group" role="group" id="feature_select">
        <button type="button" class="btn btn-primary" id="CRIM" value="0" data-toggle="tooltip" data-placement="bottom"
                title="인구당 범죄율">CRIM
        </button>
        <button type="button" class="btn btn-primary" id="ZN" value="1" data-toggle="tooltip" data-placement="bottom"
                title="주거지 지정 토지 비율">ZN
        </button>
        <button type="button" class="btn btn-primary" id="INDUS" value="2" data-toggle="tooltip" data-placement="bottom"
                title="도매업 토지 비율">INDUS
        </button>
        <button type="button" class="btn btn-primary" id="CHAS" value="3" data-toggle="tooltip" data-placement="bottom"
                title="찰스 강과 인접했는지의 여부">CHAS
        </button>
        <button type="button" class="btn btn-primary" id="NOX" value="4" data-toggle="tooltip" data-placement="bottom"
                title="공기 중 질소산화물 농도">NOX
        </button>
        <button type="button" class="btn btn-primary" id="RM" value="5" data-toggle="tooltip" data-placement="bottom"
                title="세대당 평균 방 개수">RM
        </button>
        <button type="button" class="btn btn-primary" id="AGE" value="6" data-toggle="tooltip" data-placement="bottom"
                title="1940년 이전 완공 실거주 주택 비율">AGE
        </button>
        <button type="button" class="btn btn-primary" id="DIS" value="7" data-toggle="tooltip" data-placement="bottom"
                title="인근 5개 업무중심지까지의 가중 거리 ">DIS
        </button>
        <button type="button" class="btn btn-primary" id="RAD" value="8" data-toggle="tooltip" data-placement="bottom"
                title="고속도로 접근성 지표">RAD
        </button>
        <button type="button" class="btn btn-primary" id="TAX" value="9" data-toggle="tooltip" data-placement="bottom"
                title="재산세율">TAX
        </button>
        <button type="button" class="btn btn-primary" id="PTRATIO" value="10" data-toggle="tooltip"
                data-placement="bottom" title="지역 내 교사-학생 비율">PTRATIO
        </button>
        <button type="button" class="btn btn-primary" id="B" value="11" data-toggle="tooltip" data-placement="bottom"
                title="보정된 인구 중 흑인 비율">B
        </button>
        <button type="button" class="btn btn-primary" id="LSTAT" value="12" data-toggle="tooltip"
                data-placement="bottom" title="인구 중 하위층의 비율">LSTAT
        </button>
    </div>

    <div class="container" id="result_content">
        <img src="/pdp/0" class="result_image">
    </div>

</main>

<script type="text/javascript">
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

    window.addEventListener("load", setFeature);

    const result_content = document.getElementById("result_content");

    const features = [
        document.getElementById("CRIM"),
        document.getElementById("ZN"),
        document.getElementById("INDUS"),
        document.getElementById("CHAS"),
        document.getElementById("NOX"),
        document.getElementById("RM"),
        document.getElementById("AGE"),
        document.getElementById("DIS"),
        document.getElementById("RAD"),
        document.getElementById("TAX"),
        document.getElementById("PTRATIO"),
        document.getElementById("B"),
        document.getElementById("LSTAT")
    ];

    function setFeature() {
        for (var i = 0; i < features.length; i++) {
            features[i].addEventListener('click', function (e) {
                result_content.innerHTML =
                    '<img src="/pdp/' + this.value + '" class="result_image">';
            });
        }
    }

</script>
</body>
</html>
