<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>XAI</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <style>
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .result_image {
            max-width: 100%;
            height: auto;
        }
    </style>

</head>

<script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>


<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">XAI</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">What is XAI? <span
                        class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/vision">Vision<span
                        class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/nlp">NLP<span
                        class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/machinelearning">MachineLearning<span
                        class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<main role="main" class="container">
    <form id="submit_form" action="#" method="post">
        <div id="mainContent" class="container" align="center" style="padding-top: 80px">

            <div class="container" id="model_select">
                <div class="page-header">
                    <h2>Vision XAI</h2>
                    <p>XAI 모델을 고르고 숫자를 그려주세요</p>
                </div>

                <div class="jumbotron text-center">
                    <div class="btn-group btn-group-toggle container-fluid" data-toggle="buttons">
                        <label class="btn btn-primary active">
                            <input type="radio" name="model" value="shap" id="shap" autocomplete="off" checked> SHAP
                        </label>
                        <label class="btn btn-primary">
                            <input type="radio" name="model" value="lrp" id="lrp" autocomplete="off"> LRP
                        </label>
                        <label class="btn btn-primary">
                            <input type="radio" name="model" value="lime" id="lime" autocomplete="off"> LIME
                        </label>
                        <label class="btn btn-primary">
                            <input type="radio" name="model" value="filtervisialization" id="filtervisialization"
                                   autocomplete="off">
                            Filter Visualization
                        </label>
                    </div>

                    <div style="width:280px; height: 280px; margin-top:50px" class="container align-center">
                        <canvas width="28px" height="28px" id="canv"
                                style="width:280px; height:280px; border:1.5px dashed gray;"></canvas>
                    </div>

                </div>
            </div>

            <div id="result" style="display:none;">
                <table class="table table-bordered">
                    <thead class="">
                    <tr id="th_row">
                        <th scope="col">Label</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id="tb_row">
                        <th scope="row">Probability</th>
                    </tr>
                    </tbody>
                </table>
                <div id="layer_select" style="display: none;">
                    <p>Layer를 골라주세요</p>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons" id="layer"
                         style="padding-bottom: 50px;">
                        <label class="btn btn-secondary">
                            <input type="radio" name="jb-radio" id="layer0" value="0" checked>0
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="jb-radio" id="layer1" value="1">1
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="jb-radio" id="layer2" value="2">2
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="jb-radio" id="layer3" value="3">3
                        </label>
                    </div>
                </div>
                <div id="result_content" class="container">

                </div>
            </div>

            <div class="btn-group-lg" role="group">
                <button id="submit_button" type="button" class="btn btn-success btn-lg bottom-left">
                    결과 보기
                </button>
                <button type="button" class="btn btn-danger btn-lg" id="reset">리셋</button>
            </div>
        </div>
    </form>
</main>

<script type="text/javascript">
    var canvas = document.getElementById('canv');
    var reset = document.getElementById('reset');

    canvas.addEventListener('mousemove', draw);
    canvas.addEventListener('mousedown', setPosition);
    canvas.addEventListener('mouseenter', setPosition);

    reset.addEventListener('click', resetCanvas);
    document.body.style.margin = 0;

    var ctx = canvas.getContext('2d');
    ctx.lineWidth = 2;
    ctx.lineCap = 'round';
    ctx.strokeStyle = '#000000';

    var x = 0, y = 0;


    function setPosition(e) {
        var abs = canvas.getBoundingClientRect();
        x = (e.clientX - abs.x) / 10;
        y = (e.clientY - abs.y) / 10;
        console.log(x + ' ' + y);
    }

    function draw(e) {
        if (e.buttons !== 1) return;
        ctx.beginPath();

        ctx.moveTo(x, y);
        setPosition(e);
        ctx.lineTo(x, y);

        ctx.stroke();
    }

    function resetCanvas() {
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        ctx.beginPath();
    }
</script>

<script type="text/javascript">
    const result = document.getElementById("result");
    const model_select = document.getElementById("model_select");
    const layer_select = document.getElementById("layer_select");

    const submit_button = document.getElementById("submit_button");
    const reset_button = document.getElementById("reset");

    const result_content = document.getElementById("result_content");

    const models = [
        document.getElementById("shap"),
        document.getElementById("lrp"),
        document.getElementById("lime"),
        document.getElementById("filtervisialization")
    ];

    const layers = [
        document.getElementById("layer0"),
        document.getElementById("layer1"),
        document.getElementById("layer2"),
        document.getElementById("layer3"),
    ];

    var table_label = [];
    var table_prob = [];

    var isSubmitted = false;

    submit_button.addEventListener("click", submit_data);
    window.addEventListener("load", setLayer);
    window.addEventListener("load", initTable);

    function setLayer() {
        for (var i = 0; i < layers.length; i++) {
            layers[i].addEventListener('click', function (e) {
                $.post({
                    type: 'POST',
                    url: '/visionfv/' + this.value,
                    data: {"image": getCanvasImage()},
                    success: function (data) {
                        result_content.innerHTML =
                            '<img src="data:image/png;base64,' + data + '" class="result_image"/>'
                    }
                })
            });
        }
    }

    function initTable() {
        const th_row = document.getElementById("th_row");
        const tb_row = document.getElementById("tb_row");

        for (var i = 0; i < 10; i++) {
            var label = document.createElement("th");
            var prob = document.createElement("td");

            label.innerText = i.toString();

            table_label.push(label);
            table_prob.push(prob);

            th_row.appendChild(label);
            tb_row.appendChild(prob);
        }
    }

    function submit_data() {
        if (isSubmitted === false) {
            isSubmitted = true;

            $.post({
                type: "POST",
                url: "/prediction",
                data: {"image": getCanvasImage()},
                success: function (data) {
                    var parse = JSON.parse(data);

                    var predict = parse['predict'];
                    var probability = parse['probability'];

                    for (var i = 0; i < 10; i++) {
                        table_prob[i].innerText = probability[i];
                    }
                    console.log(predict);
                    table_label[predict].classList.add('table-danger');
                    table_prob[predict].classList.add('table-danger');
                }
            });

            if (models[0].checked) {
                $.post({
                    type: 'POST',
                    url: '/visionshap',
                    data: {"image": getCanvasImage()},
                    success: function (data) {
                        result_content.innerHTML =
                            '<img src="data:image/png;base64,' + data + '" class="result_image"/>'
                    }
                })
            } else if (models[1].checked) {
                //lrp
                $.post({
                    type: 'POST',
                    url: '/visionlrp',
                    data: {"image": getCanvasImage()},
                    success: function (data) {
                        result_content.innerHTML =
                            '<img src="data:image/png;base64,' + data + '" class="result_image"/>'
                    }
                })

            } else if (models[2].checked) {
                //lime
                $.post({
                    type: 'POST',
                    url: '/visionlime',
                    data: {"image": getCanvasImage()},
                    success: function (data) {
                        result_content.innerHTML =
                            '<img src="data:image/png;base64,' + data + '" class="result_image"/>'
                    }
                })

            } else if (models[3].checked) {
                //filter visualization
                layer_select.style.display = "";
                $.post({
                    type: 'POST',
                    url: '/visionfv/' + 0,
                    data: {"image": getCanvasImage()},
                    success: function (data) {
                        result_content.innerHTML =
                            '<img src="data:image/png;base64,' + data + '" class="result_image"/>'
                    }
                })

            }

            result.style.display = "";
            model_select.style.display = "none";

            submit_button.innerText = "돌아가기";
            reset_button.style.display = "none";
        } else {
            for (var i = 0; i < 10; i++) {
                table_prob[i].innerText = "";
                table_label[i].classList.remove('table-danger');
                table_prob[i].classList.remove('table-danger');
            }

            isSubmitted = false;

            result_content.innerHTML = "";

            result.style.display = "none";
            model_select.style.display = "";
            layer_select.style.display = "none";

            submit_button.innerText = "결과 보기";
            reset_button.style.display = "";
        }
    }

    function getCanvasImage() {
        var canvas = document.getElementById('canv');
        var ctx = canvas.getContext('2d');
        var imgData = ctx.getImageData(0, 0, canvas.width, canvas.height);

        var result = [];

        for (var i = 0; i < canvas.width; i++) {
            result.push([]);
            for (var j = 0; j < canvas.height; j++) {
                result[i].push(imgData.data[(i * 28 + j) * 4 + 3]);
            }
        }

        return JSON.stringify(result);
    }
</script>
</body>
</html>
